# 1. STRING SLICING

In [ ]:
#String slicing is a powerful feature in python >> it allow you to extract a substring from a given string
# syntax >> string[start:end:step] by default start is 0, end is len(string) and step is 1.

In [1]:
string = "hello everyone"
string[0:4]  #index [0:4]

'hell'

In [4]:
string[:-1] #index[0:-1]

'hello everyon'

In [3]:
#reverse string

string[::-1]

'enoyreve olleh'

# 2. Lists in python

In [ ]:
#List are ordered collection of items
#List are store every datatype(int,float,str,bool,ect)
# list = []
#list are mutable

In [3]:
list = [1,2.5,"Apple","banana",True]
list

[1, 2.5, 'Apple', 'banana', True]

In [4]:
list[0]    #ordered list

1

In [5]:
list[0]= "lichi"

In [6]:
list

['lichi', 2.5, 'Apple', 'banana', True]

# 3. Access, modify and delete elements from list

In [8]:
l =["potato","brinjal","apple","banana","melon"]
l

['potato', 'brinjal', 'apple', 'banana', 'melon']

In [9]:
#access l[4] from list

l[4]

'melon'

In [10]:
#modify a element  melon change to 100

l[4] = 100

In [11]:
l

['potato', 'brinjal', 'apple', 'banana', 100]

In [12]:
#delete element from list

l.remove(100)

In [13]:
l

['potato', 'brinjal', 'apple', 'banana']

# 4. Tuples and list

In [ ]:
#Tuples: Tuples are immutable and you cannot add, remove, or modify elements in a tuple

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple.append(4)  # This will raise an AttributeError
# my_tuple[1] = 5     # This will raise a TypeError
my_tuple

In [ ]:
#Lists: Lists are mutable, that's why list includes adding, removing, or altering elements.

In [14]:
my_list = [4,5,6,7]
my_list.append(8)  # Adds 8 to the end of the list
my_list[1] = 10    # Changes the second element to 10
my_list

[4, 10, 6, 7, 8]

# 5. Sets

In [ ]:
# sets >> sets are unordered and unique collection of elements
# doesn't allow duplicate elements
#unordered >> indexing will not work

In [16]:
s = set()
type(s)

set

In [17]:
s = {1,2,3,4,5,6,"apple","mango",True}
s

{1, 2, 3, 4, 5, 6, 'apple', 'mango'}

In [18]:
s[0] #indexing not work

TypeError: 'set' object is not subscriptable

In [20]:
s[0] = "banana"   #immutable sets

TypeError: 'set' object does not support item assignment

In [ ]:
# set operations

#UNION <<Combines elements from two sets excluding deplicates(duplicate are not allowed)
#INTERSECTION : only common elements between sets
#DIFFRENCE : return the elements that is present in first set and not in second
#SYMMETRIC DIFFRENCE : returns elements that are present in either of sets but not in both

In [23]:
s1 = {"apple","mango","banana","melon"}

s2 = {"potato","apple","brinjal","tomato"}

In [24]:
#union << combine all the elements

s1|s2

{'apple', 'banana', 'brinjal', 'mango', 'melon', 'potato', 'tomato'}

In [25]:
#INTERSECTION : only common elements between sets

s1&s2

{'apple'}

In [27]:
#diffrence << element present in first set and not present in second set

s1-s2

{'banana', 'mango', 'melon'}

In [26]:
#symmetric diffrence <<gives all the elements without common elements


s1^s2

{'banana', 'brinjal', 'mango', 'melon', 'potato', 'tomato'}

# 6. use case of tuples and sets

In [ ]:
#Tuples are odered collection of data <<tuples are immutable

In [28]:
#use case >> use tuples as a data structure where you dont want to modified the data << like emp id,Adhar no,account no etc.

emp_id = (101,102,103)
emp_id[0] =100

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Sets are unordered collection of unique elements << sets are immutable

In [29]:
#use case>> sets are use for identify the unique elements from data


grocery_list = {"apple","banana","mango","apple","potato","tomato","potato","banana","apple"}

In [31]:
grocery_list   # show only unique elements

{'apple', 'banana', 'mango', 'potato', 'tomato'}

# 7. Add, modify, and delete items in a dictionary

In [32]:
my_dic = {"name" : "ranjana",
          "age" : 17,
          "email" : "ranjana123@gmail.com",
          "contact" : 9876543217}

In [33]:
my_dic

{'name': 'ranjana',
 'age': 17,
 'email': 'ranjana123@gmail.com',
 'contact': 9876543217}

In [42]:
my_dic["address"] = "n-77 A.V Delhi"   #add item in dictionary

my_dic

{'name': 'ranjana',
 'age': 22,
 'email': 'ranjana123@gmail.com',
 'contact': 9876543217,
 'address': 'n-77 A.V Delhi'}

In [37]:
my_dic["age"] = 22   # modify an element

my_dic

{'name': 'ranjana',
 'age': 22,
 'email': 'ranjana123@gmail.com',
 'contact': 9876543217,
 'address': 'n-77 A.V Delhi'}

In [43]:
del my_dic ["address"]   #delete an element


my_dic

{'name': 'ranjana',
 'age': 22,
 'email': 'ranjana123@gmail.com',
 'contact': 9876543217}

# 8. importance of dictionary keys being immutable

In [ ]:
#Purpose: Dictionary keys are used to access values, and they need to be hashed to quickly retrieve values. Hashing is a process that converts an object into a fixed-size integer that can be used to index the dictionary.
#Requirement: For an object to be hashable, its hash value must remain constant throughout its lifetime. Immutable objects have a constant hash value, making them suitable as dictionary keys.

In [44]:
my_dict = { (1, 2): "tuple" }  # Tuple is immutable and hashable
print(my_dict[(1, 2)])  # Output: "tuple"

tuple